.Text-secondary {
    color: #F0A600;
}

body {
    color: #fff !important;
}

a.Text-secondary:hover {
    color: #fff;
}

a p.Text-secondary:hover {
    color: #fff;
}

#social-float-div {
    z-index: 10000;
    position: fixed;
    top: 50%;
    right: 0px;
    border-top-left-radius: 0.25rem !important;
    border-bottom-left-radius: 0.25rem !important;
}

.headertext-symbol {
    border-left: solid 5px #fff;
    padding: 5px;
}

.plan-card:hover>.plan-card-image {
    transform: scale(1.5);
}

.plan-card {
    overflow: hidden;
}

.plan-card-body {
    z-index: 1000;
}

.plan-card-image {
    transition: transform .5s;
    /* Animation */
}

.bg-gray {
    background-color: #525252;
}

.card-shadow {
    box-shadow: 0px 2px 7px 0px #252525;
}

.plan-card:hover {
    box-shadow: 0px 4px 10px 0px #0A0708;
}

.Btn-outline-secondary {
    color: #F0A600;
    border-color: #F0A600;
}

.Btn-outline-secondary:hover {
    color: #fff;
    background-color: #F0A600;
}

.Bg-black {
    background-color: #000;
}